/* body {
  margin: 10%;
}
 */
 html {
  font-family: sans-serif;
}

body {
  background-color: rgb(249, 246, 244);
  width: 100%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
.inputNumber{
  width: 400px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
  color: #4CAF50;
}


